<main class="accountsettings-main main-margin">

  <h1>{{test}}</h1>

  <div class="">
    <!-- <form class="" ng-submit="updateAccount('account-settings-modal', useremail)">
      <input type="text" name="" ng-value="useremail" ng-model="useremail">

      <button type="submit" name="button">Update Account</button>
    </form> -->

    <form class="contact-form" ng-submit="updateAccount(contactNameFirst, contactNameLast, contactEmail, contactSubject, contactMessage)">
      <label ng-class="{red: contactNameFirstR}">First Name <span ng-class="{none: !contactNameFirstR, errordisplay: contactNameFirstR}">- REQUIRED</span></label>
      <input type="text" ng-model="userName" ng-focus="clearInput('contactNameFirst')">
<br>
      <label>Last Name</label>
      <input type="text" ng-model="contactNameLast" >
<br>
      <label ng-class="{red: contactEmailR}">Email <span ng-class="{none: !contactEmailR, errordisplay: contactEmailR}">- REQUIRED</span></label>
      <input type="text" ng-value="userEmail" ng-model="useremail">
<br>
      <label ng-class="{red: contactSubjectR}">Subject <span ng-class="{none: !contactSubjectR, errordisplay: contactSubjectR}">- REQUIRED</span></label>
      <input type="text" ng-model="contactSubject" ng-focus="clearInput('contactSubject')">
<br>
      <label ng-class="{red: contactMessageR}">Message <span ng-class="{none: !contactMessageR, errordisplay: contactMessageR}">- REQUIRED</span></label>
      <textarea ng-model="contactMessage" ng-focus="clearInput('contactMessage')"></textarea>

<br>
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>






  <!-- <div class="modal" ng-class="{'display': updateSuccess, 'noscroll': updateSuccess}" id="modalz">
    <div class="modal-content-product-added">
      <span class="close" ng-click="closeAccountModal()">&times;</span>
      <i class="material-icons">check_circle</i>
      <h3>{{accountMessage}}</h3>
      <hr>

      <br><br>

      <button type="button" class="big-btn" name="button" ng-click="closeAccountModal()">CLOSE</button>

    </div>
  </div> -->



  <modal id="account-settings-modal">
      <div class="mymodal">
          <div class="modal-body">

            <span class="close" ng-click="closeMyModal('account-settings-modal')">&times;</span>
            <i class="material-icons">check_circle</i>

              <!-- <h1>haha</h1> -->
              <p>
                {{accountMessage}}
                <br>
                <br>
              </p>

              <button class="btn" ng-click="closeMyModal('account-settings-modal');">Close</button>
          </div>
      </div>
      <div class="modal-background"></div>
  </modal>


</main>
