<main class="admin-main">
  <h1>Admin - {{username}}</h1>

  <div class="admin-items">
    <div class="admin-filter">
      <input type="text" placeholder="Search" ng-model="searchDB.name">
    </div>
    <div class="admin-products" ng-repeat="product in products | orderBy: 'id' | filter: searchDB">
      <img ng-src="{{product.img1}}" height="50px" alt="" style="padding-right: 5px;">
      {{product.name}}
      <div class="edit-buttons">
        <button class="btn" ng-click="editProducts(product)" name="button">Edit</button>
        <button class="btn" ng-click="delete(product)" name="button">Delete</button>
      </div>
    </div>
  </div>

  <hr>

  <div class="admin-edit">
    <h3>Name</h3>
    <input type="text" name="" placeholder="Name" ng-model="productName">

    <h3>Description</h3>
    <textarea name="name" rows="5" placeholder="Description" ng-model="productDescription"></textarea>

    <h3>Price</h3>
    <input type="text" name="" placeholder="Price" ng-model="productPrice">

    <h3>Image 1</h3>
    <input type="text" name="" placeholder="Image 1 URL" ng-model="productImgOne">

    <h3>Image 2</h3>
    <input type="text" name="" placeholder="Image 2 URL" ng-model="productImgTwo">
      <br><br>

      <!-- <select ng-model="cat1" ng-options="type.category for type in decalType">
        <option value="null">Category 1</option>
      </select>

      <select ng-model="cat2" ng-options="type.category for type in decalType">
        <option value="null">Category 2</option>
      </select>

      <select ng-model="cat3" ng-options="type.category for type in decalType">
        <option value="null">Category 3</option>
      </select> -->



      <span class="flright" ng-model="productId">Product ID: {{productId}}</span>

      <!-- <br><br> -->

      <div class="" style="text-align: center;">
        <button class="btn" name="button" ng-click="update(productId, productName, productDescription, productPrice, productImgOne, productImgTwo)">Update</button>
        <button class="btn" name="button" ng-click="add(productName, productDescription, productPrice, productImgOne, productImgTwo)">Add New</button>
        <button class="btn" name="button" ng-click="clearForm()">Clear</button>

      </div>

  </div>


</main>
