<main class="admin-main">
  <div check-logged-in>
    <h1>Admin - {{username}}</h1>

  </div>

  <div class="admin-items">
    <div class="admin-filter">
      <input type="text" placeholder="Search" ng-model="searchDB.name">
    </div>
    <div class="admin-products" ng-repeat="product in products | orderBy: 'id' | filter: searchDB" ng-click="editProducts(product)">
      <img ng-src="{{product.img1}}" height="50px" alt="" style="padding-right: 5px;">
      {{product.name}}
      <div class="edit-buttons">
        <!-- <button class="btn" ng-click="editProducts(product)" name="button">Edit</button> -->
        <button class="btn" ng-click="delete(product)" name="button">Delete</button>
      </div>
    </div>
  </div>

  <hr>

  <div class="admin-edit">
    <h3>Name</h3>
    <input type="text" name="" placeholder="Name" ng-model="productName">

    <h3>Description</h3>
    <textarea name="name" rows="5" placeholder="Description" ng-model="productDescription"></textarea>

    <!-- <div ng-if=""> -->
      <h3>Total Favorites</h3>
      <p>{{productDetails.totalFavs[0].count}}</p>

      <h3>Active - {{productActive}}</h3>
      <input type="checkbox" name="" ng-model="productActive">
    <!-- </div> -->




<div class="" style="clear: both">

</div>
    <h3>Main Image</h3>
    <input type="text" name="" placeholder="Image 1 URL" ng-model="productImgOne">

    <h3>Main Vector</h3>
    <input type="text" name="" placeholder="Image 2 URL" ng-model="productImgTwo">

    <h3>Outline Vector</h3>
    <input type="text" name="" placeholder="Image 3 URL" ng-model="productImgThree">
      <br><br>

      <div ng-repeat="sel in allCategories">
        {{sel}}
      </div>

      <div class="" style="border: 2px solid black; width: 100%;">

      </div>

      <div ng-repeat="selected in defaultSelected">
        <select ng-options="all as all.name for all in allCategories"  ng-model="selected">
          <option value="">-- Category --</option>
        </select>

       <button type="button" name="button" ng-click="saveCategory(selected)">save</button>
      </div>

      <button type="button" name="button" ng-click="addNewCategory()">Add Cat</button>


<br><br>

          <h3 style="display: inline-block; width: 60%;">Size</h3>
          <h3 style="display: inline-block; width: 30%;">Price</h3>

          <div ng-repeat="ps in productDetails.product track by $index">
            <div ng-hide="editing" class="">
              <span style="display: inline-block; width: 30%;">H - {{ps.height}}</span>
              <span style="display: inline-block; width: 30%;">W - {{ps.width}}</span>
              <span style="display: inline-block; width: 30%;">${{ps.price}}</span>
              <button ng-click="editing = true; clickme($index)" ng-hide="editing" name="button" >edit</button>
              <button  type="submit" ng-click="deleteDetails($index, ps)">X</button>

            </div>
            <form ng-show="editing" ng-submit="editing = false">
              <input type="text" step="any" style="width: 30%;" placeholder="height" ng-model="ps.height" />
              <input type="text" step="any" style="width: 30%;" placeholder="width" ng-model="ps.width" />
              <input type="text" step="any" style="width: 30%;" placeholder="price" ng-model="ps.price" />

              <button type="submit" ng-click="updateDetails($index, ps, ps.height, ps.width, ps.price)">Save</button>
              <button type="button" name="button" ng-click="editing = false; clearDisabled()">X</button>
            </form>

          </div>

          <button ng-if="addNew" type="button" ng-click="addNewRow()">Add New Size</button>



      <span class="flright" ng-model="productId">Product ID: {{productId}}</span>

      <!-- <br><br> -->

      <div class="" style="text-align: center;">
        <button class="btn" name="button" ng-click="update(productId, productName, productDescription, productImgOne, productImgTwo, productImgThree, productActive)" ng-disabled="editDisable">Update</button>
        <button class="btn" name="button" ng-click="add(productName, productDescription, productImgOne, productImgTwo, productImgThree)" ng-disabled="editDisable">Add New</button>
        <button class="btn" name="button" ng-click="clearForm()" ng-disabled="editDisable">Clear</button>

      </div>

  </div>

</main>
