<main class="cart-main">

<!-- MOBILE VIEW ONLY -->
  <div class="cart-user-m hideDesktop">

    <h2 class="pad">Your Cart</h2>

    <hr>
    <!-- START SINGLE ITEM IN CART -->
    <div class="cart-product-info-m pad"> <!-- ng-repeat items in cart -->


      <div class="cart-product-info-container-m">
        <img ng-src="https://img0.etsystatic.com/108/0/9461344/il_570xN.895019534_43ya.jpg" alt="">
        <p>$4.00 | Take A Hike vinyl Decal</p>
      </div>
    </div>

    <hr>

    <div class="cart-product-qty-m pad">
      <div>
        <h4>QTY</h4>
      </div>
      <div>
        <input type="text" name="" value="2">
      </div>
    </div>

    <hr>

    <div class="cart-product-itemtotal-m pad">
      <div>
        <h4>Item Total</h4>
      </div>
      <div>
        $8.00
      </div>
    </div>

    <hr class="lastItem">

    <!-- END SINGLE ITEM IN CART -->
  </div>










  <div class="cart-user-d hideMobile">

    <h2 class="pad">Your Cart</h2>

    <hr>
    <!-- START SINGLE ITEM IN CART -->
    <div class="cart-product-info-d pad"> <!-- ng-repeat items in cart -->
      <div class="description w50">
        <h4>Description</h4>
      </div>
      <div class="qty w25 center">
        <h4>QTY</h4>
      </div>

      <div class="itemtotal w25 center">
        <h4>Item Total</h4>
      </div>
    </div>

    <hr>

    <div class="cart-product-info-container-d pad">
      <div class="d w50">
        <img ng-src="https://img0.etsystatic.com/108/0/9461344/il_570xN.895019534_43ya.jpg" alt="">
        <p>$4.00 | Take A Hike vinyl Decal</p>
      </div>

      <div class="cart-product-qty-d pad w25">
          <input type="text" name="" value="2">
      </div>

      <div class="cart-product-itemtotal-d pad w25 center">
          $8.00
      </div>

    </div>

    <hr class="lastItem">

    <!-- END SINGLE ITEM IN CART -->

    <div class="cart-product-info-d pad"> <!-- ng-repeat items in cart -->
      <div class="description w50">
        <h4>Description</h4>
      </div>
      <div class="qty w25 center">
        <h4>QTY</h4>
      </div>

      <div class="itemtotal w25 center">
        <h4>Item Total</h4>
      </div>
    </div>

    <hr>

    <div class="cart-product-info-container-d pad">
      <div class="d w50">
        <img ng-src="https://img0.etsystatic.com/108/0/9461344/il_570xN.895019534_43ya.jpg" alt="">
        <p>$4.00 | Take A Hike vinyl Decal</p>
      </div>

      <div class="cart-product-qty-d pad w25">
          <input type="text" name="" value="3">
      </div>

      <div class="cart-product-itemtotal-d pad w25 center">
          $12.00
      </div>

    </div>

    <hr class="lastItem">
  </div>


</main>
