<main class="cart-main">

  <div class="cart-user">

    <h2 class="pad">Your Cart</h2>

    <hr class="hideDesktop">
    <!-- START SINGLE ITEM IN CART -->



    <div class="cart-product-info pad"> <!-- ng-repeat items in cart -->
      <div class="cart-product-description hideMobile">
        <h4>Description</h4>
      </div>

      <div class="cart-product-info-container">
        <img ng-src="https://img0.etsystatic.com/108/0/9461344/il_570xN.895019534_43ya.jpg" alt="">
        <p>$4.00 | Take A Hike vinyl Decal</p>
      </div>

    </div>

    <hr class="hideDesktop">

    <div class="cart-product-qty pad">
      <div class="">
        <h4>QTY</h4>
      </div>
      <div class="">
        <input type="text" name="" value="2">
      </div>
    </div>

    <hr class="hideDesktop">

    <div class="cart-product-itemtotal pad">
      <div class="">
        <h4>Item Total</h4>
      </div>
      <div class="">
        $8.00
      </div>
    </div>
    <hr style="border:5px solid pink;">



    <!-- END SINGLE ITEM IN CART -->
  </div>


</main>
