

<main class="search-main main-margin">

  <h1>{{title}}</h1>

  <div ng-if="!bottomLevel" class="searched-products">
    <div class="product-main" ng-repeat="categories in subCategories | orderBy: 'id'">
      <h2 class="desc" ui-sref="category({catname:categories.name})">{{categories.titleName}}</h2>
    </div>
  </div>


  <div ng-if="bottomLevel" class="searched-products">
    <div class="product-main" ng-repeat="product in categoryProducts | orderBy: 'id'">
      <div class="product-img">
        <img class="crop" ui-sref="products({id:product.id})" ng-src="{{product.img1}}" alt="">
      </div>
      <div class="product-info">
        <div class="product-info-left">
          <h2 class="desc">{{product.name}}</h2>
          <p class="price">From <span class="red">${{product.price}}</span></p>
        </div>
        <div class="product-info-right;">
          <button class="btn" name="button" ui-sref="products({id:product.id})">View Product</button>
        </div>
      </div>
    </div>
  </div>

</main>
