

<main class="contact-main main-margin">

  <h1 class="center">Contact Us</h1>

  <p>If you have questions about your order, or are looking to get a bulk order, please fill out the form below.</p>

<form class="contact-form" ng-submit="contactFormSubmit(contactNameFirst, contactNameLast, contactEmail, contactSubject, contactMessage)">
  <label ng-class="{red: contactNameFirstR}">First Name * <span ng-class="{none: !contactNameFirstR, errordisplay: contactNameFirstR}">- First Name is required</span></label>
  <input type="text" ng-model="contactNameFirst" ng-click="clearInput('contactNameFirst')">

  <label>Last Name</label>
  <input type="text" ng-model="contactNameLast" >

  <label ng-class="{red: contactEmailR}">Email * <span ng-class="{none: !contactEmailR, errordisplay: contactEmailR}">- Email is required</span></label>
  <input type="email" ng-model="contactEmail" ng-click="clearInput('contactEmail')">

  <label ng-class="{red: contactSubjectR}">Subject * <span ng-class="{none: !contactSubjectR, errordisplay: contactSubjectR}">- Subject is required</span></label>
  <input type="text" ng-model="contactSubject" ng-click="clearInput('contactSubject')">

  <label ng-class="{red: contactMessageR}">Message * <span ng-class="{none: !contactMessageR, errordisplay: contactMessageR}">- Message is required</span></label>
  <textarea ng-model="contactMessage" ng-click="clearInput('contactMessage')"></textarea>

  <button type="submit" class="big-btn btn">Submit</button>
</form>

<!-- <form class="contact-form">
  <label>First Name *</label>
  <input type="text" placeholder="First Name *" ng-model="contactNameFirst" required>
  <label>Last Name</label>
  <input type="text" placeholder="Last Name *" ng-model="contactNameLast" >
  <label>Email *</label>
  <input type="email" placeholder="Email *" ng-model="contactEmail" required>
  <label>Subject *</label>
  <input type="text" placeholder="Subject *" ng-model="contactSubject" required="">
  <label>Message *</label>
  <textarea placeholder="Message *"></textarea>

  <button type="button" class="big-btn btn">Submit</button>
</form> -->




</main>
