<main class="home-main main-margin">

  <div class="product-main" ng-repeat="product in products | orderBy: 'id'">
    <div class="product-img">
      <img class="crop" ui-sref="products({id:product.id})" ng-src="{{product.img1}}" alt="">
    </div>
    <div class="product-info">
      <h2 class="desc">{{product.name}}</h2>
      <p class="price">From <span class="red">${{product.price}}</span></p>
      <button class="btn atc-home" name="button" ui-sref="products({id:product.id})">View Product</button>
    </div>
  </div>


</main>
