

<main class="orderdetails-main main-margin">

  <div class="orderdetails-container">
    <div class="orderdetails-container">
      <div class="order-info-shipping">
    <!--  ORDER INFO  -->
        <div class="order-box">
          <h2>Order #{{orderNumber}}</h2>
          <ul>
            <li>Email: {{orderProducts[0].email}}</li>
            <li>Ordered: {{orderProducts[0].datesold | date: 'longDate'}}</li>
            <li ng-if="!orderProducts[0].tracking">Tracking not yet sent</li>
            <li ng-if="orderProducts[0].tracking">Tracking: <a href="#">{{orderProducts[0].tracking}}</a></li>
            <li>Your Note: {{orderProducts[0].msg_to_seller}}</li>
            <li>Our Note: {{orderProducts[0].msg_to_buyer}}</li>
          </ul>
        </div>

        <hr class="margin">
        <!--  SHIPPING INFO  -->
        <div class="order-box">
          <h2>Shipping Information</h2>
          <ul>
            <li>Name: {{orderProducts[0].firstname}} {{orderProducts[0].lastname}}</li>
            <li>Address: {{orderProducts[0].address_one}}, <span ng-if="orderProducts[0].address_two">{{orderProducts[0].address_two}}</span></li>
            <li>{{orderProducts[0].city}}, {{orderProducts[0].state}}, {{orderProducts[0].zipcode}}</li>
          </ul>
        </div>
      </div>

      <hr class="margin">

      <div class="orderdetails-items">
        <h2 class="center">Order Items</h2>



        <div class="item-table">
          <div class="item-table-headers">
            <h3>Product</h3>
            <h3 class="w20">Price</h3>
            <h3 class="w10 ta-right">Qty</h3>
            <h3 class="w20 ta-right">Total</h3>
          </div>

          <hr>

          <div class="" ng-repeat="o in orderProducts track by $index">

            <div class="item-table-row" >
              <p>{{o.name}} - {{o.color}}<br>{{o.height}}H x {{o.width}}W</p>
              <p class="w20">{{o.price | currency}}</p>
              <p class="w10 ta-right">{{o.quantsold}}</p>
              <p class="w20 ta-right">{{o.price * o.quantsold | currency}}</p>
            </div>
            <hr>

          </div>

          <div class="totals">
            <p class="ta-right">Subtotal: <span class="w20">{{orderTotal | currency}}</span></p>
            <p class="ta-right">Shipping: <span class="w20">{{shipping | currency}}</span></p>

            <hr>
            <p class="ta-right">Total: <span class="w20">{{orderTotal + shipping | currency}}</span></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
