<main class="contact-main main-margin">
  <h1 class="center">Reset Password</h1>
  <form class="contact-form" ng-submit="submitReset(resetNewPass, resetNewPassConfirm)" ng-hide="invalidToken">
    <p>Please reset your password to continue.</p>
    <label ng-class="{red: resetNewPassR}">New Password <span ng-class="{none: !resetNewPassR, errordisplay: resetNewPassR}">- required</span></label>
    <input type="text" ng-model="resetNewPass">

    <label ng-class="{red: resetNewPassConfirmR}">Confirm Password <span ng-class="{none: !resetNewPassConfirmR, errordisplay: resetNewPassConfirmR}">- required</span></label>
    <input type="text" ng-model="resetNewPassConfirm">
<br>
<p class="red center message">{{resetMessage}}</p>
<br>


    <button class="btn big-btn">Submit</button>
  </form>

  <div ng-hide="!invalidToken">
    <p>Your reset token is invalid or has expired.</p>
    <p>Please request a password reset again.</p>
  </div>
</main>
