<main class="product-single">
  <!-- <img src="{{product.img1}}" alt=""> -->
  <div class="svg-img" ng-click="funx(hellooo)"style="background-color:{{bkgnd}}; height: 400px; overflow: scroll; ">
    <!--  -->
    <div ng-include="vectorFile" style="fill: {{newColor.secon}};"></div>
  </div>


  <div class="details">
    <h2 class="desc">{{product.name}}</h2>
    <p class="productPrice" ng-model="pppprice">&nbsp;{{productPrice.price | currency}}</p>

  <form ng-submit="addToCart(productColor, productQuantity, productPrice)">

    <select ng-model="productPrice"  required ng-options='details as (details.height + "H x " + details.width + "W" + " inches - [$" + details.price + ".00]") for details in product2'>
      <option value="">Size</option>
    </select>

    <select options="" required ng-model="productColor" ng-change="updateImgColor(productColor)">
      <option value="">Color </option>
      <option value='{"prime":"Black", "secon":"#000"}'>Black</option>
      <option value='{"prime":"Black", "secon":"#fff"}'>White</option>
      <option value='{"prime":"Black", "secon":"darkgray"}'>Dark Gray</option>
      <option value='{"prime":"Light Gray", "secon":"gray"}'>Light Gray</option>
      <option value='{"prime":"Crimson Red", "secon":"#b20000"}'>Crimson Red</option>
      <option value='{"prime":"Cardinal Red", "secon":"#e50000"}'>Cardinal Red</option>
      <option value='{"prime":"Tomato Red", "secon":"#ff1919"}'>Tomato Red</option>
      <option value='{"prime":"Bright Orange", "secon":"#FF6600"}'>Bright Orange</option>
      <option value='{"prime":"Sunflower Yellow", "secon":"#FFFF00"}'>Sunflower Yellow</option>
      <option value='{"prime":"Apple Green", "secon":"#8db600"}'>Apple Green</option>
      <option value='{"prime":"Bright Green", "secon":"#28a428"}'>Bright Green</option>
      <option value='{"prime":"Olympic Blue", "secon":"#00C9F3"}'>Olympic Blue</option>
      <option value='{"prime":"Sapphire Blue", "secon":"#333399"}'>Sapphire Blue</option>
      <option value='{"prime":"Dark Navy", "secon":"#00008B"}'>Dark Navy</option>
      <option value='{"prime":"Royal Purple", "secon":"#663399"}'>Royal Purple</option>
      <option value='{"prime":"Rose Pink", "secon":"#ffb6c1"}'>Rose Pink</option>
      <option value='{"prime":"Chocolate Brown", "secon":"#4E2E28"}'>Chocolate Brown</option>
    </select>

    <input type="text" name="" ng-model="productQuantity" >

    <button type="submit" class="btn flright" name="button" value="Add to Cart">Add to Cart</button>

    <div class="modal" ng-class="{'display': addToCartModal, 'noscroll': addToCartModal}" id="modalz">
      <div class="modal-content-product-added">
        <span class="close" ng-click="closeModal()">&times;</span>
        <i class="material-icons">check_circle</i>
        <h3>ITEM ADDED!</h3>
        <hr>

        <button type="button" class="big-btn" name="button" ui-sref="cart">CHECKOUT</button>

        <br><br>

        <button type="button" class="big-btn" name="button" ng-click="addToCartModal = false">CONTINUE SHOPPING</button>


      </div>
    </div>

    <h3>Choose your background</h3>

    <div class="radio-group">
      <input type="radio" id="r1" name="bkgdclr" value="#1e1e1e" ng-model="bkgnd">
      <label for="r1">Dark</label>
      <input type="radio" id="r2" name="bkgdclr" value="#e7e7e7" ng-model="bkgnd" ng-init="bkgnd='#e7e7e7'">
      <label for="r2">Light</label> <br>
    </div>

    <h3>Look funny? Try inverting</h3>
    <input type="checkbox" id="c1" name="" value="" ng-model="inverted" ng-change="changeInverted(inverted)">
    <label for="c1">toggle inverted</label>


  </form>

  <br><br>
  <ship-date></ship-date>



  </div> <!--end details div-->

  <div class="description">
    <hr>

    <h3>Product Description</h3>
    <p>This is a {{product.description}}.</p>
<br>
      <p>Pictures shown are not to scale. Please contact for custom sizes.</p>
<br>
  <p>Perfect for laptops, car windows, walls, etc. <br>
  Apply on any smooth surface. Easy to apply and remove. These vinyl decals are intended as one use items.</p>
<br>
  <p>Please select appropriate size and color before adding item to cart. If color is not selected, black will be shipped to you.</p>
<br>
  <p>Shipping -<br>
  <p>Please allow 2-3 Business Days to complete your order. </p>
  </div>

</main>
