<main class="product-single">
  <img src="{{product.img1}}" alt="">

  <div class="details">
    <h2 class="desc">{{product.name}}</h2>
    <p class="productPrice">{{product.price | currency}}</p>

  <form ng-submit="addToCart(productSize, productColor, productQuantity)">
    <select options="" class="select-size" required ng-model="productSize">
      <option value="" >Size</option>
      <option value='4"H x 10"W'>4"H x 10"W</option>
      <option value='5"H x 12"W'>5"H x 13"W</option>
      <option value='6"H x 16"W'>6"H x 16"W</option>
    </select>

    <select options="" required ng-model="productColor">
      <option value="">Color </option>
      <option value="Black">Black</option>
      <option value="White">White</option>
      <option value="Dark Gray">Dark Gray</option>
      <option value="Light Gray">Light Gray</option>
      <option value="Crimson Red">Crimson Red</option>
      <option value="Cardinal Red">Cardinal Red</option>
      <option value="Tomato Red">Tomato Red</option>
      <option value="Bright Orange">Bright Orange</option>
      <option value="Sunflower Yellow">Sunflower Yellow</option>
      <option value="Apple Green">Apple Green</option>
      <option value="Bright Green">Bright Green</option>
      <option value="Olympic Blue">Olympic Blue</option>
      <option value="Sapphire Blue">Sapphire Blue</option>
      <option value="Dark Navy">Dark Navy</option>
      <option value="Royal Purple">Royal Purple</option>
      <option value="Rose Pink">Rose Pink</option>
      <option value="Chocolate Brown">Chocolate Brown</option>
    </select>

    <input type="text" name="" ng-model="productQuantity" >

    <button type="submit" class="btn" name="button" value="Add to Cart">Add to Cart</button>

  </form>

  <br><br>
  <ship-date></ship-date>



  </div> <!--end details div-->

  <div class="description">
    <hr>

    <h3>Product Description</h3>
    <p>This is a {{product.description}}.</p>
<br>
      <p>Pictures shown are not to scale. Please contact for custom sizes.</p>
<br>
  <p>Perfect for laptops, car windows, walls, etc. <br>
  Apply on any smooth surface. Easy to apply and remove. These vinyl decals are intended as one use items.</p>
<br>
  <p>Please select appropriate size and color before adding item to cart. If color is not selected, black will be shipped to you.</p>
<br>
  <p>Shipping -<br>
  <p>Please allow 2-3 Business Days to complete your order. </p>
  </div>

</main>
