<main class="search-main">

  <h1>Search Results</h1>

  <div ng-if="!search">
    <p class="center">Sorry, we could not find any results for "{{searchTerm}}".</p>

  </div>


  <div ng-if="search" class="searched-products">
    <div class="product-main" ng-repeat="product in searchProducts | orderBy: 'id'">
      <div class="product-img">
        <img class="crop" ui-sref="products({id:product.id})" ng-src="{{product.img1}}" alt="">
      </div>
      <div class="product-info">
        <div class="product-info-left">
          <h2 class="desc">{{product.name}}</h2>
          <p class="price">From <span class="red">${{product.price}}</span></p>
        </div>
        <div class="product-info-right;">
          <button class="btn" name="button" ui-sref="products({id:product.id})">View Product</button>
        </div>
    </div>
  </div>

</main>
