

<main class="orderdetails-main">

  <div class="orderdetails-container">

    <!-- <h1 class="center">Order #{{orderNumber}}</h1> -->
    <div ng-if="thankyouResponse">

      <h1 class="center">Thank you for your order!</h1>
      <h3 class="center">An email has been sent confirming your order</h3>
      <h3 class="center">Please allow 2-3 business days to receive a tracking number</h3>
      <br>

      <hr class="margin">

      <p><strong>Order Date: </strong>{{thankyouOrder[0].datesold | date: 'longDate'}}</p>
      <div class="table-overflow">
        <table>
          <th>Product Name</th><th>Color</th><th>Size</th><th>Price</th><th>Quantity</th><th>SubTotal</th>
          <tr ng-repeat="o in thankyouOrder track by $index">
            <td>{{o.name}}</td>
            <td>{{o.color}}</td>
            <td>{{o.height}}H x {{o.width}}W inches</td>
            <td>{{o.price | currency}}</td>
            <td>{{o.quantsold}}</td>
            <td>{{o.price * o.quantsold | currency}}</td>
          </tr>
          <tr>
            <td colspan="5">Shipping</td>
            <td>{{shipping | currency}}</td>
          </tr>
          <tr>
            <td colspan="5">Total</td>
            <td>{{thankyouOrder[0].ordertotal + shipping | currency}}</td>
          </tr>
        </table>
      </div>
    </div>


    <div ng-if="!thankyouResponse">
      <h1 class="center">Sorry, the page you are you looking for has expired</h1>
    </div>

  </div>

</main>




<!-- <div class="" ng-repeat="orders in orderProducts">
  {{orders.img1}}<br>
  {{orders.name}} <br>
  {{orders.height}}H x {{orders.width}}W inches <br>
  {{orders.quantsold}} <br>
  {{orders.datesold | date: 'MM / dd / yyyy'}}
  {{orders.ordertotal}}

</div> -->
