//global admin
.active-btn {
  display: inline-block;
  padding: 10px 20px !important;
  cursor: pointer;
  //background determined by active in ng-style
}

.active-btn-small {
  @extend .active-btn;
  padding: 6px 14px !important;
  font-size: 14px;
  //background determined by active in ng-style
}

.add-btn {
  padding: 5px 10px;
  border: 1px solid #777;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.add-btn:hover {
  background: #aaa;
}

.add-btn-xsmall{
  @extend .add-btn;
  padding: 0 2px;
}

.favorite-container {
  display: flex;
  justify-content: space-between;
  position: relative;

  .fav-active {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
    bottom: 10px;

    p {
      margin-right: 20px;
    }
  }
}

.show-extra-details {

  .flex-cat-size {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .category-container {
    width: 30%;
    text-align: center;

    .category-select-container {
      margin: 14px 0;
    }
  }

  .size-price-container {
    width: 70%;
    padding-left: 20px;
    border-left: 1px solid black;

    h3 {
      display: inline-block;
      width: 49.5%;
    }

    .size-price-repeater {
      display: flex;
      justify-content: space-between;
      position: relative;

      :hover {
        background: #d9d9d9;
      }

      span, input {
        display: inline-block;
        width: 24%;
        padding: 8px;
      }

      .size-price-btn-container {
        position: absolute;
        top: 2px;
        right: 0px;
      }
    }
  }
}
