
//style guide//
//
// $primary-color: #333333;      //dark dark gray
// $secondary-color: #f1f1f1;    //light light gray
// // $main-accent-color: #FFD200;  //athletic gold
// $main-accent-color: #36558f;  //athletic gold
//
// $sub-accent-color: #4F6D7A;   //light blue charcoal

//style guide//

$primary-color: #333333;      //dark dark gray
$secondary-color: #f1f1f1;    //light light gray
// $main-accent-color: #FFD200;  //athletic gold
$main-accent-color: #605675;  //athletic gold
// $sub-accent-color: #4F6D7A;   //light blue charcoal
$sub-accent-color: #028090;   //light blue charcoal


// spinner function
@keyframes spinner-cc {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
//LOADER FOR WHEN CONTACT EMAIL IS SENT
@keyframes spinner-c {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  // display: none;
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  opacity: 1;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $main-accent-color;
  width: 120px;
  height: 120px;
  -webkit-animation: spinner-c 2s linear infinite;
  animation: spinner-c 2s linear infinite;
  z-index: 910;

}

.loader-parent {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loader-background {
  /* modal background fixed across whole screen */
  // display: none;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;

  /* z-index must be below .modal and above everything else  */
  z-index: 900;
}

.or-box {
  width: 100%;
  // height: 200px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .or-dash {
    width: 100%;
    height: 2px;
    margin: 0 20px;
    background: $secondary-color;
    display: inline-block;
  }
}

.update-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  font-size: 26px;
}

.update-cart-btn:hover {
  cursor: pointer;
}

//add this class on click of update-cart-btn
.update-cart-btn-spin {
  -webkit-animation: spinner-cc 0.4s linear; /* Safari 4+ */
  -moz-animation:    spinner-cc 0.4s linear; /* Fx 5+ */
  -o-animation:      spinner-cc 0.4s linear; /* Opera 12+ */
  animation:         spinner-cc 0.4s linear; /* IE 10+, Fx 29+ */
}



body {
  background-color: $secondary-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: $primary-color;
  font-family: "Open Sans", sans-serif;


  .sticky-footer {
    flex: 1;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input, textarea, select {
  font-family: "Open Sans", sans-serif;
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.btn {
  padding: 5px 10px;
  background-color: $main-accent-color;
  color: white;
  font-weight: lighter;
  border: 1px solid #000;
  border-radius: 3px;
}

.btn:disabled {
  background-color: lightgray;
  color: darkgray;
}

.btn:hover:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.big-btn {
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-facebook {
  @extend .big-btn;
  background-color: #4f6eae;
  color: white;
  // border: none;
  // border-radius: 3px;
  // padding: 15px;
  // width: 100%;
  // cursor: pointer;
}

.btn-stripe {
@extend .btn-facebook;
background-color: rgb(69, 69, 69);
}

.btn:hover {
  // background-color: $secondary-color;
  background-color: lighten($main-accent-color, 15%);
  cursor: pointer;
}

.btn:active {
  background-color: #d9d9d9;
}

.btn-delete {
  // border: 1px solid #000;
  border: none;
  padding: 1px 2px;
  background-color: white;
  cursor: pointer;
}

.btn-delete:hover {
  color: gray;
}

.display {
  display: block;
}
.errordisplay {
  display: inline-block;
}

.none {
  display: none;
}

.red {
  color: #e76f51;
  font-weight: bold;
}

.flleft {
  float: left;
}

.flright {
  float: right;
}

.hideMobile {
  display: none;
}

//adds margin around mian divs
.main-margin {
  margin: 15px;
}



hr {
  border-color: $secondary-color;
  border-top: none;
  border-left: none;
  margin: 15px 0;
}

hr.lastItem {
  border-width: 5px;
  border-color: $secondary-color;
}

.w25 {
  width: 25%;
}

.w50 {
  width: 50%;
}

.w75 {
  width: 75%;
}

/* MODAL STYLES
-------------------------------*/
modal {
    /* modals are hidden by default */
    display: none;

    .mymodal {
      /* modal container fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      // width: 0px;
      max-width: 500px;

      /* z-index must be higher than .modal-background */
      z-index: 1000;

      /* enables scrolling for tall modals */
      overflow: auto;
      margin-top: 80px;

      .modal-body {
        padding: 20px;
        background: #fff;
        /* margin exposes part of the modal background */
        margin: 0;

        i {
          font-size: 56px;
          color: $main-accent-color;
        }
      }
    }



    .user-modal {
      position: absolute;
      top: 75px;
      right: 110px;
      z-index: 1000;
      width: 20%;
      min-width: 260px;

      .modal-body {
        padding: 20px;
        background: #fff;
      }
    }

    .user-modal:before {
      content: '';
      position: absolute;
      bottom: 100%;
      right: 36px;
      height: 0;
      width: 0;
      border-bottom: solid 10px #fefefe;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
    }



    .close {
      color: #aaaaaa;
      position: absolute;
      top: 0px;
      right: 8px;
      font-size: 28px;
      font-weight: bold;
      padding: 10px;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    .modal-background {
      /* modal background fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* semi-transparent black  */
      background-color: #000;
      opacity: 0.75;

      /* z-index must be below .modal and above everything else  */
      z-index: 900;
    }
} // end modal

body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

.display {
  display: block;
}

.red {
  color: #e76f51;
  font-weight: bold;
}

.flleft {
  float: left;
}

.flright {
  float: right;
}

.hideMobile {
  display: none;
}
.highlighted {
  background: #bbb;
}

.center {
  text-align: center;
}

.margin {
  margin: 0 20px;
}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 10px 5px;
}
table th {
  background: white;
}
table tr:nth-child(odd) {
  background-color: #f6f6f6;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
table tr {
  text-align: center;
}
table tr:hover {
  background-color: darken(#fff, 10%);
  // background-color: #f1f1f1;
}

.ship-truck {
  padding-left: 7px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.shipping-date {
  // background: blue;
  display: flex;
  align-items: center;
}
/* ============================================
                  INDEX PAGE
============================================ */

nav {
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $secondary-color;

/* =================== HAMBURGER MENU ================= */

.scale-nav {
  transform: scale(0.8);
}
  .ham-search-container {
    padding-left: 5px;

    .hamburger-icon {
      display: inline-block;
      cursor: pointer;
      margin-right: 4px;
      // transform: scale(0.7);
      // padding-top: 2px;

      .nbar1, .nbar2, .nbar3 {
          width: 35px;
          height: 5px;
          background-color: #333;
          margin: 6px 0;
          transition: 0.4s;
          border-radius: 5px;
      }
    }

    .change .nbar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }

    .change .nbar2 {
      opacity: 0;
    }

    .change .nbar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }

    .search-icon {
      font-size: 32px;
      // padding-left: 10px;
      cursor: pointer;
      // transform: scale(0.8);
    }
  }


  .logo {
    text-align: center;
    padding: 20px 0;

    img {
      height: 30px;
      cursor: pointer;

    }
  }

  .login-cart-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 30%;

    a {
      color: black;
      padding: 10px;
      // margin: 0 20px;
      border-bottom: 1px solid transparent;
      cursor: pointer;
    }

    a:hover {
      // background-color: white;
      border-bottom: 1px solid black;
    }

    i {
      font-size: 32px;
      cursor: pointer;
    }

    .cart-amount {
      position: absolute;
      top: -5px;
      right: 15px;
      font-size: 14px;
      background-color: #e76f51;
      color: white;
      height: 20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
    }


    .login-user-popup {
      color: red;
      background: blue;
      text-align: center;
      // width: 10%;
    }


  }


} /*end nav*/

.search-box-container.open {
  display:flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 15px 20px;
  background: white;
  border-bottom: 1px solid $secondary-color;
}

.search-box-container {
  display: none;

  .search-box {
    width: 70%;
    padding: 7px 15px;
    font-size: 20px;
  }

  button.btn {
    font-size: 20px;
    min-width: 20%;
  }
}

ul.open {
  height: auto;
}

.main-nav {
  width: 100%;
  overflow: hidden;
  height: 0;
  background: white;

  li {
    float: none;
    text-align: center;
    width: 100%;
    margin: 0;

    a {
      color: black;
      padding: 10px;
      border-bottom: 1px solid black;
      display: block;
      margin: 0;
    }

    a:hover {
      background-color: #f5f5f5;
    }
  }
}

footer {
  clear: both;
  margin-top: 30px;
  padding: 30px;
  background-color: white;

  .footer-container {
    width: 200px;
    margin: 0 auto;

    ul {
      display: flex;
      justify-content: space-around;

      li {
        // display: inline-block;
        // background: red;

        a {
          color: black;
          padding: 10px;
        }
      }
    }
  }
}


/* ============================================
                  HOME PAGE
============================================ */


.product-main {
  // width: 90%;
  // width: 95%;
  // padding: 20px;
  background: #fff;
  margin-bottom: 15px;
  // margin: 20px auto;

  .product-img {
    width: 100%;
    // background: lime;
    position: relative;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: -16% auto;        //'crops' image to make narrow
      cursor: pointer;
    }
  }

  .product-info {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;

    .product-info-left {
      width: 63%;

      h2.desc {
        font-size: 16px;
        color: #000;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p.price {
        font-size: 14px;
        color: #888888;
      }
    }

    .product-info-right {
      width: 37%;
    }


  }
}

/* ============================================
                  SEARCH PAGE
============================================ */


.search-main {
  h1 {
    font-size: 50px;
    text-align: center;
  }
}


/* ============================================
                PRODUCT PAGE
============================================ */

.product-single {
  margin-top: 15px;
  width: 100%;
  background-color: #fff;

  img {
    width: 100%;
  }
  .svg-img {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  //  background color is adjusted in HTML
  }

  .details {
    padding: 20px;

    h2.desc {
      font-size: 20px;
      color: #000;
      margin-bottom: 5px;
    }

    p.productPrice {
      font-size: 16px;
      color: rgb(54, 54, 54);
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      width: 100%;
      font-size: 20px;
      padding: 10px 20px;
      margin: 10px 0;
      border-radius: 0;
      border: 1px solid gray;
      background-color: white;
    }

    input {
      width: 31%;
      font-size: 20px;
      padding: 10px;
      text-align: center;
      margin: 0 10px 10px 0;
      border: 1px solid gray;
    }

    .btn {
      font-size: 20px;
      width: 65%;
      padding: 10px;
      border: 1px solid gray;
      // float: right;
    }

    h3 {
      text-align: center;
      padding-bottom: 10px;
      font-weight: bold;
    }

    .radio-group {
      border: 1px solid gray;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      label:nth-child(2) {
        border-right: 1px solid gray;
      }

      input[type="radio"] {
        display:none;
      }

      input[type="radio"] + label {
        background: #e7e7e7;
        cursor:pointer;
        width: 100%;
        text-align: center;
        padding: 10px 0;
      }

      input[type="radio"]:checked + label {
        background: #505050;
        color: white;
        transition: background 0.3s ease;
      }
    }

    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"] + label {
      background: #e7e7e7;
      cursor: pointer;
      display: block;
      text-align: center;
      padding: 10px 0;
    }
    input[type="checkbox"]:checked + label {
      background: #505050;
      color: white;
      transition: background 0.3s ease;
    }
  }




  .description {
    padding: 20px;

    h3 {
      padding: 10px;
      font-size: 24px;
    }
  }

}


/* ============================================
                  CART PAGE
============================================ */
.pad {
  padding: 0px 10px;
}



.empty-cart {
  text-align: center;

  p {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  button {
    // @extend .btn;
    padding: 20px 40px;
  }
}

.cart-main {
  background-color: #fff;
  padding: 20px 10px;
  // // margin: 10px;
  // width: 95%;
  // margin: 2.5% auto;

  .cart-user-m {

    .cart-product-info-m {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // position: relative;

      .cart-product-info-container-m {
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: scroll;
        text-overflow: ellipsis;
        width: 85%;

        img {
          height: 50px;
          padding-right: 10px;
        }
      }
      .btn-delete {
        // position: absolute;
        // right: 30px;
      }
    }

    .cart-product-qty-m {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background: blue;

      div input {
        padding: 7px;
        width: 35px;
        text-align: center;
      }
    }

    .cart-product-itemtotal-m {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background: yellow;
      // padding-left: 5px;
    }


  }

  .total-disc-ship {

    .d {
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;

      div {
        // display: flex;
        // justify-content: flex-end;
        text-align: right;
      }

      .aleft {
        text-align: left;
      }
    }
  }

  .checkout {

    form.address-form {

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        border-radius: 0;
        position: relative;
      }

      label {
        // padding-top: 10px;
      }

      input[type="text"],
      input[type="email"],
      input[type="number"],
      select {
        padding: 10px;
        margin: 5px auto 20px;;
        width: 100%;
        border: 1px solid #aaa;
        background-color: #fafafa;
      }

      .same-as-shipping {
        padding: 10px 0 15px;
        text-align: center;

        input[type="checkbox"] + label{
          display: inline-block;
          margin-right: 10px;
          padding: 20px;
          cursor: pointer;
        }
      }

      button {
        @extend .big-btn;
        margin-top: 10px;
      }
    }

    textarea {
      width: 100%;
      height: 100px;
      padding: 10px;
      margin: 5px 0 50px;
      border: 1px solid #aaa;
      background-color: #fafafa;
    }
  }
}

/* ============================================
                  ADMIN PAGE
============================================ */

.admin-main {
  padding: 10px;

  h1 {
    text-align: center;
  }

  .admin-tabs {
    // margin-bottom: 40px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    width: 95%;
    margin: -1px auto 40px;

    input {
      display: none;
    }

    label {
      display: inline-block;
      padding: 10px 20px;
      margin: 0 0 -1px;
      text-align: center;
      border: 1px solid transparent;
    }

    label:hover {
      cursor: pointer;
      color: gray;
    }

    input:checked + label {
      border: 1px solid #ccc;
      border-bottom: 1px solid $secondary-color;
    }
  }


  .admin-orders {
    margin: 0 auto;
    min-width: 600px;
    max-width: 1000px;

    .open-order-empty {
      text-align: center;
    }

    .open-order {
      border: 1px solid gray;
      border-radius: 5px;
      background: white;
      margin-bottom: 30px;
      display: flex;

      .open-order-left {
        width: 60%;


        .open-order-item {
          display: flex;
          padding: 10px;

          .fakeimg {
            height: 75px;
            width: 75px;
            // background: black;
          }

          .open-order-item-details {
            padding-left: 10px;
            width: 100%;

            .open-order-item-details-hilite {
              background: #FFFACD;
              padding: 5px 40px 5px 5px;
              margin: 5px 0;
              border: 1px solid darken(#FFFACD, 50%);
              border-radius: 5px
            }

            .open-order-item-details-bottom {
              display: flex;
              justify-content: space-between;
            }
          }

        }

      }

      .open-order-right {
        width: 40%;
        border-left: 1px solid pink;

        .open-order-shipping {
          padding: 10px;

          form {
            text-align: center;
            input {
              width: 90%;
              padding: 5px;
            }

            textarea {
              width: 90%;
              height: 100px;
              padding: 5px;
              margin: 10px 0;
            }
          }
        }

      }

      .open-order-top {
        display: flex;
        justify-content: space-between;
        background: #f5f5f1;
        padding: 10px;
      }
    }
  }

  .admin-items {

    .admin-filter {
      input {
        width: 100%;
        padding: 7px;
      }
    }

    .admin-products {
      position: relative;
      display: flex;
      align-items: center;
      margin: 10px 0;

      .edit-buttons {
        position: absolute;
        right: 0;
        bottom: 50%;
        transform: translate(0,50%);
      }
    }

    .admin-products:hover {
      background-color: #d9d9d9;
    }
  }

  .admin-edit {

    input, textarea {
      width: 100%;
      padding: 7px;
    }
    h3 {
      padding: 10px 0;
    }
  }
}


/* ============================================
                  LOGIN PAGE
============================================ */

.login-main, .loginsuccess-main {
  // max-width: 380px;
  // // padding: 10px;
  // height: 300px;
  // background: #fff;
  // margin: 5% auto;
  // background: red;
  // // text-align: center;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-around;
  // padding: 20px 10px;

  .login-container, .loginsuccess-container {
    text-align: center;
    background-color: #fff;
    padding: 10px 20px 20px 20px;

    h4 {
      margin-bottom: 20px;
    }
  }

  img {
    width: 350px;
  }
}


/* ============================================
              ORDER HISTORY PAGE
============================================ */


.orderhistory-main {
  // padding: 20px;

  .orderhistory-container {
    background: #fff;
    padding: 20px 0;

    h1 {
      text-align: center;
    }

    table {
      width: 100% !important;
      max-width: 600px;
      margin: 0 auto;
      th {
        // font-size: 14px;
      }
      tr {
        text-align: center;
      }
    }
  }
}

/* ============================================
              ORDER DETAILS PAGE
============================================ */

.orderdetails-main {

  .orderdetails-container {
    background: white;
    padding: 20px 0;

    p {
      padding: 20px;
    }

    .table-overflow {
      overflow: scroll;

      table {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        th {
          // font-size: 14px;
        }
        tr {
          text-align: center;
        }
      }
    }
  }
}

/* ============================================
                CONTACT PAGE
============================================ */

.contact-main {

  background-color: #fff;
  padding: 20px 10px;

  p {
    padding: 10px 0;
  }

  form.contact-form {
    padding: 40px 0;

    label {
      display: inline-block;
      margin-top: 10px;

    }
    input {
      padding: 10px;
      margin: 10px auto;
      width: 100%;
      border: 1px solid #aaa;
      background-color: #fafafa;
      font-size: 14px;
      line-height: normal;
    }

    textarea {
      width: 100%;
      height: 100px;
      padding: 10px;
      margin: 10px 0 50px;
      border: 1px solid #aaa;
      background-color: #fafafa;
      font-size: 14px;
      line-height: normal;
    }
  }
}



form.login-modal {

  input[type="text"],
  input[type="email"],
  input[type="number"],
  select {
    padding: 10px;
    margin: 5px auto 20px;;
    width: 100%;
    border: 1px solid #aaa;
    background-color: #fafafa;
  }

  div {
    display: flex;
    .h {
      width: 50%;
      display: block;
    }
    .h:first-child {
      margin-right: 10px;
    }
    .h:last-child {
      margin-left: 10px;
    }


  }
  .message {
    margin-bottom: 15px;
  }

  p:last-child {
    margin-top: 15px;
  }
}


/* ============================================
                ACCOUNT PAGE
============================================ */

.accountsettings-main {
  background-color: #fff;
  padding: 20px 10px;

  p {
    margin-top: 20px;
  }
  form {
    padding: 0 0 40px;

    label {
      display: inline-block;
      margin-top: 10px;

    }
    input {
      padding: 10px;
      margin: 10px auto;
      width: 100%;
      border: 1px solid #aaa;
      background-color: #fafafa;
      font-size: 14px;
      line-height: normal;
    }

    textarea {
      width: 100%;
      height: 100px;
      padding: 10px;
      margin: 10px 0 50px;
      border: 1px solid #aaa;
      background-color: #fafafa;
      font-size: 14px;
      line-height: normal;
    }
  }

}



@media only screen and (min-width: 768px) {


  .hideDesktop {
    display: none;
  }

  .hideMobile {
    display: block;
  }

      // .modal-content-user {
      //   display: block;
      //   background-color: pink;
      //
      //   padding: 20px;
      //   border: 1px solid #888;
      //   width: 20%;
      //   min-width: 260px;
      //   text-align: center;
      // }
      //
      // .modal-content-user:before {
      //   content: '';
      //   position: absolute;
      //   bottom: 100%;
      //   right: 32px;
      //   height: 0;
      //   width: 0;
      //   border-bottom: solid 10px #fefefe;
      //   border-left: solid 10px transparent;
      //   border-right: solid 10px transparent;
      // }



  .display {
    display: block;
  }


  nav {
    .scale-nav {
      transform: scale(1);
    }
  //hide hamburger bar

    .hamburger-icon {
      .nbar1, .nbar2, .nbar3 {
        display: none;
      }
    }

    .search-icon {
      font-size: 36px;
      cursor: pointer;
    }

    .search-box-container {
      .search-box {
        width: 85%;
      }
    }

    .logo {
      img {
        height: 40px;
        cursor: pointer;
      }
    }

    .login-cart-container {

      .checkloggedin {
        display: flex;
        justify-content: space-between;
        margin-right: 10px;

        i {
          margin: 0 14px;
        }

        .cart-amount {
          right: 24px;
        }
      }
    }
  }
  .main-nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;

    li {
      margin: 0 auto;

      a {
        color: black;
        padding: 10px;
        border-bottom: none;
        display: block;
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px solid transparent;
      }

      a:hover {
        background-color: white;
        border-bottom: 1px solid black;
      }
    }
  }
  /* ============================================
                    HOME PAGE
  ============================================ */

  .home-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .product-main {
      width: 46%;
      background: #fff;
      margin: 2.8% auto 0;
    }
  }

  /* ============================================
                    SEARCH PAGE
  ============================================ */



  .searched-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .product-main {
      width: 46%;
      background: #fff;
      margin: 0 auto 2.8% ;
    }
  }

  /* ============================================
                  FAVORITES PAGE
  ============================================ */

  .favorited-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .product-main {
      width: 46%;
      background: #fff;
      margin: 0 auto 2.8% ;
    }
  }

  /* ============================================
                  PRODUCT PAGE
  ============================================ */

  .product-single {
    width: 768px;
    margin: 20px auto 0;

    img {
      padding: 40px;
    }

    .svg-img {
      width: 100%;
    }
  }


  /* ============================================
                    CART PAGE
  ============================================ */
  // .pad {
  //   padding: 0;
  //   padding-left: 10px;
  // }

  .cart-main {
    max-width: 800px;
    margin: 20px auto;

    .cart-user-d {

      .cart-product-info-d,
      .cart-product-qty-d,
      .cart-product-itemtotal-d {
        display: flex;
        justify-content: space-between;
      }

      .cart-product-info-container-d {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .d {
          display: inline-flex;
          align-items: center;
          padding: 0;
          padding-left: 10px;

          img {
            height: 50px;
            padding-right: 10px;
          }
        }

        .cart-product-qty-d {
          display: flex;
          align-items: center;

          input {
            height: 40px;
            // padding: 7px;
            width: 70px;
            margin: 0 auto;
            text-align: center;
          }
        }

        .cart-product-itemtotal-d {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          .btn-delete {
            position: absolute;
            top: 0px;
            right: 40px;
          }
        }
      }
    }

    // .hideDesktop {
    //   display: none;
    // }

    .total-disc-ship {

      .d {

        div {
          text-align: center;
        }

        .aleft {
          text-align: right;
          padding-right: 80px;
        }
      }
      .btn-facebook {
        width: 50%;
      }



      form {
        text-align: center;
      }

    }

    form.address-form {
      display: flex;
      justify-content: space-between;


      div {
        text-align: left;
      }

      .checkout-left, .checkout-right {
        // text-align: center;
        width: 50%;
      }

      .checkout-left {
        .checkout-left-inner {
          // .address-form {
            margin-right:10px;
          // }
        }
      }

      .checkout-right {
        .checkout-right-inner {
          margin-left:10px;
        }
      }

        .btn-stripe {
          width: 75%;
      }
    }

  }



  /* ============================================
                    ADMIN PAGE
  ============================================ */

  .admin-main {

    .admin-tabs {
      label {
        padding: 15px 25px;
      }
    }

    .admin-items {
      float:left;
      width: 49%;

      .admin-filter {
        width: 50%;
        margin: 0 auto;
      }
    }

    hr {
      display: none;
    }

    .admin-edit {
      float:right;
      width: 49.5%;
    }
  }

  /* ============================================
                    LOGIN PAGE
  ============================================ */

  .login-main, .loginsuccess-main {

    .login-container, .loginsuccess-container  {
      margin: 0 auto;
      width: 50%;
      text-align: center;
      background-color: #fff;
      padding: 10px 20px 20px 20px;
    }
  }

  /* ============================================
                  CONTACT PAGE
  ============================================ */

  .contact-main {

    p {
      text-align: center;
    }

    form.contact-form {

      max-width: 500px;
      margin: 0 auto;
      // input {
      //   padding: 10px;
      //   margin: 10px auto;
      //   width: 100%;
      //   border: 1px solid #aaa;
      //   background-color: #fafafa;
      // }
      //
      // textarea {
      //   width: 100%;
      //   height: 100px;
      //   padding: 10px;
      //   margin: 10px 0 50px;
      //   border: 1px solid #aaa;
      //   background-color: #fafafa;
      // }
    }
  }

  /* ============================================
                  ACCOUNT PAGE
  ============================================ */

  .accountsettings-main {
    background-color: #fff;
    padding: 20px 10px;


    form {
      max-width: 500px;
      margin: 0 auto;
    }

  }


} //end min-width: 768px



@media only screen and (min-width: 1100px) {

  nav {
    .search-box-container {
      .search-box {
        width: 90%;
      }
    }
  }


  .home-main {
    .product-main {
      width: 30%;
      background: #fff;
    }
  }

  /* ============================================
                  SEARCH PAGE
  ============================================ */
.search-main {
  .searched-products {
    .product-main {
      width: 30%;
      background: #fff;
    }
  }
}

/* ============================================
                FAVORITES PAGE
============================================ */

.favorited-products {

  .product-main {
    width: 30%;
    background: #fff;
  }
}


  /* ============================================
                  PRODUCT PAGE
  ============================================ */

  .product-single {
    width: 960px;
    padding: 40px;

    img {
      width: 60%;
      padding: 20px;
      float: left;
    }

    .svg-img {
      width: 60%;
      float: left;
    }

    .details {
      width: 40%;
      float: right;

      h2.desc {
        font-size: 30px;
        color: #000;
        margin-bottom: 15px;
      }

      p.productPrice {
        font-size: 18px;
        color: rgb(54, 54, 54);
        padding-bottom: 10px;
      }

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        font-size: 20px;
        padding: 10px 20px;
        margin: 10px 0;
        border-radius: 0;
        border: 1px solid gray;
        background-color: white;
      }

      input {
        width: 31%;
        font-size: 20px;
        padding: 10px;
        text-align: center;
        margin: 0 10px 10px 0;
        border: 1px solid gray;
      }

      .btn {
        font-size: 20px;
        width: 65%;
        padding: 10px;
        border: 1px solid gray;
      }
    }

    .description {
      clear: both;

      h3 {
        padding: 10px;
        font-size: 24px;
      }
    }
  }


  /* ============================================
                    CART PAGE
  ============================================ */

  .cart-main {
    max-width: 960px;
    margin: 40px auto 0;

    .total-disc-ship {
      .d {
        .aleft {
          padding-right: 100px;
        }
      }
    }
  }


  /* ============================================
                    ADMIN PAGE
  ============================================ */

  .admin-main {
    padding: 20px;

    .admin-edit {
      // position: fixed;
      // right: 0;

      padding-bottom: 100px;
    }
  }


} //end min-width: 1100px



//super small screen under 410px - fixes header nav breaking
@media only screen and (max-width: 410px) {
  .logo {
    width: 40%;

    img {
      width: 100%;
    }
  }
}
